h1{
    font-size: 55px;
    color: cornsilk;
    text-align: center;
    font-style: italic;
}
body{
    background-image:url(criptografia2.jpg);
    background-repeat:no-repeat;
    background-size:100%;
    opacity: 0.9;
    }
.flex-centralizado{
    display: flex;
    justify-content: center;
}
.areaprincipal{
    background-color: black;
    color:white;
    width: 68%;
    margin: 0 auto;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}   
p{
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.formulario{
    background-color: black;
    max-width: 300px;
    width: 110%;
    padding: 20px;
    float: left;
    font-size: 18px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h3 {
    
    color:white;
}
.formulari{
    background-color: black;
    max-width: 300px;
    width: 110%;
    padding: 20px;
    float: right;
    font-size: 18px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h2 {
    font-size:30px;
    color: white;
}

#inputTexto{
    padding: 3px;
    font-size: 20px;
}

#inputTextoConvertido{
    padding: 3px;
    font-size: 20px;
}

#inputDeslocamento{
    padding: 3px;
    font-size: 20px;
    text-align: center;
    width: 40px;
}
#inputText{
    padding: 3px;
    font-size: 20px;
}

#inputTextoConvertid{
    padding: 3px;
    font-size: 20px;
}

#inputDeslocament{
    padding: 3px;
    font-size: 20px;
    text-align: center;
    width: 40px;  
}

#bt{
    padding: 3px;
    text-align: center;
}

#bt2{
    padding: 3px;
    text-align: center; 
}
#bot{
    padding: 3px;
    text-align: center;
}

#bot2{
    padding: 3px;
    text-align: center; 
}