h1{
    font-size: 55px;
    color: cornsilk;
    text-align: center;
    font-style: italic;
}

body{
    background-image:url(criptografia2.jpg);
    background-repeat:no-repeat;
    background-size:100%;
    opacity: 0.9;
}

#description{
    display: inline-block;
    font-size: 30px;
    background-color: black;
    color:white;
    width: 40%;
    margin-left: 5%;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}   

h3{
    color:white;
}

#rightForm{
    float: right;
    background-color: black;
    width: 22%;
    padding: 20px;
    font-size: 18px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#leftForm{
    float: left;
    background-color: black;
    width: 22%;
    padding: 20px;
    font-size: 18px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2{
    font-size:30px;
    color: white;
}

#inputText{
    padding: 3px;
    font-size: 20px;
}

#inputConvertedText{
    padding: 3px;
    font-size: 20px;
}

#inputOffset{
    padding: 3px;
    font-size: 20px;
    text-align: center;
    width: 40px;
}

#inputText2{
    padding: 3px;
    font-size: 20px;
}

#inputConvertedText2{
    padding: 3px;
    font-size: 20px;
}

#inputOffset2{
    padding: 3px;
    font-size: 20px;
    text-align: center;
    width: 40px;  
}

#buttonEncode{
    padding: 3px;
    text-align: center;
}

#buttonReset{
    padding: 3px;
    text-align: center; 
}

#buttonDecode{
    padding: 3px;
    text-align: center;
}

#buttonReset2{
    padding: 3px;
    text-align: center; 
}